{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block extra_head %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Home</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Construction Site</th>
            <th>Last Modified</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="site-table-body">
        {% for site in sites %}
        <tr data-id="{{ site.id }}">
            <td>{{ site.name }}</td>
            <td>{{ site.last_modified }}</td>
            <td><button class="btn btn-danger delete-site">Delete</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="form-inline">
    <input type="text" class="form-control mr-2" id="new-site-name" placeholder="New Site Name">
    <button class="btn btn-primary" id="add-site">Add Construction Site</button>
</div>
{% endblock %}

